.hr-line {
    border: solid red;
}


.page-title {
    float: left;
    margin-top: 10px;
    margin-left: 33px;
    font-size: 20px;
}

.btn-icon {
    background: none;
    border: none;
    cursor: pointer;
}

.hr-line {
    border: solid red;
}

.heading-top {
    margin-top: 10px;
}

.sub-heading-top {
    margin-top: 10px;
    margin-left: 10px;
}

.is-invalid {
    border-color: red;
}
.col-sm-2 .btn btn-primary{
  margin-top: 29px !important; 
}


.flex-box{display: flex;}
.flex-box .button-in{margin-top: 29px;}
.flex-box .flex-item{margin-right: 10px;}
