.btn-add {
    float: right;
    margin-top: 10px;
    margin-right: 21px;
}

.page-title {
    float: left;
    margin-top: 10px;
    margin-left: 33px;
    font-size: 20px;
}

.btn-icon {
    background: none;
    border: none;
    cursor: pointer;
}

.hr-line {
    border: solid red;
}

.heading-top {
    margin-top: 10px;
}

.sub-heading-top {
    margin-top: 10px;
    margin-left: 10px;
}
label{
    position: relative;
    top: 7px;
}
#Div1 {
    display: none;
}
#Div2 {
    display: none;
}
#Div3 {
    display: none;
}
#Div4 {
    display: none;
}
#Div5 {
    display: none;
}
#Div6 {
    display: none;
}