.hr-line {
    border: solid red;
}
.btn-add {
    float: right;
    margin-top: 10px;
    margin-right: 21px;
}

.page-title {
    float: left;
    margin-top: 10px;
    margin-left: 33px;
    font-size: 20px;
}

.btn-icon {
    background: none;
    border: none;
    cursor: pointer;
}

.hr-line {
    border: solid red;
}

.heading-top {
    margin-top: 10px;
}

.sub-heading-top {
    margin-top: 10px;
    margin-left: 10px;
}

.is-invalid {
    border-color: red;
}